header
	+b.header
		+b.container
			+b.vertical-dop-block
		+e.logo
			+e('a')(href="#").word
				+e('span') M
				+e('span') inimal
		+e.menu
			+b.UL.menu__list
				+b.list-item
					+e.link(href="#") Product |
				+b.list-item
					+e.link(href="#") Services |
				+b.list-item
					+e.link(href="#") Contact	