* {
	outline: none;
}

body {
    overflow-x: hidden;
}
.b-content {
	width: 100%;
	margin: 0;
	background: #fff;
}
.b-header {
	width: 100%;
	height: 0;
	background: #fff;
	position: relative;
	top: 0;
	left: 0;
	font-size: 20px; 
	padding: 10px 103px 10px 160px;
	display: inline-block;
	vertical-align: middle;
	&__logo{
		width:70%;
		color: #038c8c;
    	display: inline-block;
    	vertical-align: middle;
    	cursor: pointer;
    	float: left;
    	font-weight: bold;
    	color: #038c8c;
    	font-size: 43px;
  		
	}
	&__menu{
		width:30%;
		line-height: 0;
		margin-top: 40px;
		display: inline-block;
		text-right: right;
		&__menu ul{
		list-style: none;
		display: inline-block;
		}
		li{
			display: inline-block;
		 text-right: right;
		}
		li a{
			color: #616161;
			text-decoration:none;
		}
		li p{
			padding: 0 8px;
		}

	}

}
.b-block-phone{
	width: 100%;
	background: linear-gradient(to bottom right, #00727c, #0cb9a8);
	position: relative;
	top:80px;
	left:0;
	font-size:0;

	&__image{
		padding: 10px;
	}


	&__imageItem{
		width: 450px;
		height: 455px;
		margin: 50px 0 36px 196px; 	 	
	}
	&__imageItem:nth-child(1){
		background: url('../../assets/images/bigCircle.svg') no-repeat;
		background-position: center center;
	}
	&__imageItem:nth-child(2){
		background: url('../../assets/images/middleCircle.svg') no-repeat;
		background-position: center center;
		margin-top: -490px;
	}
	&__imageItem:nth-child(3){
		background: url('../../assets/images/smallCircle.svg') no-repeat;
		background-position: center center;
		margin-top: -490px;
	}
	&__imageItem:nth-child(4){
		height: 446px;
		background: url('../../assets/images/iphone.png') no-repeat;
		background-position: center center;
		backgroung-size:100%;
		margin-top: -480px;
	}
	
	.b-slider {
	width:355px;
	float: right;
	display: inline-block;
	font-size:0;
	&__backgroundIcon{
		width: calc(100% / 3);
		display: inline-block;
		margin:0;
		height:121px;
	}
	&__backgroundIcon:nth-child(1){
		background: url('../../assets/images/backgroundIcon3.png') no-repeat;
		background-position: center center;
	}
	&__backgroundIcon:nth-child(2){
		background: url('../../assets/images/backgroundIcon2.png') no-repeat;
		background-position: center center;
		
	}
	&__backgroundIcon:nth-child(3){
		background: url('../../assets/images/backgroundIcon1.png') no-repeat;
		background-position: center center;

	}
	&__icon {
		width: 100%;
		display: inline-block;
		height:100%;
		background-size:100%;
		font-size:0;
		&--desktop{
		background: url('../../assets/images/iconDesktop.svg') no-repeat;
		background-position: center center;
		}
		&--iPad{
		background: url('../../assets/images/iconIpad.svg') no-repeat;
		background-position: center center; 
		}
		&--iPhone{
		background: url('../../assets/images/iconPhone.svg') no-repeat;
		background-position: center center;
		}

		}
	}
.b-textBlock{
	   width:400px;
	   margin: -375px 0 60px 655px;

	   &__textIcon{
	   	width: 140px;
	   	line-height: 1.5; 
	    font-size:16px;
	   	color:#fff;
	   	text-transform: uppercase;
	   }
	   &__textIcon:before {
	   	content: url(../../assets/images/world.svg);
	   	margin:0 8px 0 -5px;
	   	display:inline-block;
	   	vertical-align: middle;
	   	float:left;
	   }
	   &__textMiddle {
	   		padding: 0 0 28px 700px;
	   		 
	   		 &--heading {
	   			font-size: 32px;
	   			padding: 0;
	   			font-weight: 300;
	   			text-transform: uppercase;
	   			color: white;
	   		}
	   
	   		&--text {
	   			font-size: 16px;
	   			padding: 0;
	   			color: white;
	   		}
	   }
	   	&__buttonBuy {
	   		padding-top:32px;
	   		width: 400px;
	   		font-size:0;
	   		margin-bottom:150px;
	     		&--icon {
	   			padding:0;
	   			width: 55px;
	   			height: 40px;
	   			background-color: #259d8e;
	   			background-image: url("../../assets/images/bas.png");
	   			background-repeat: no-repeat;
	   			background-position: center;
	   			cursor:pointer;
	   			display: inline-block;
	   			vertical-align: top;
	   		}
	   			   
	   		&--button {
	   			padding: 5px;
	   			width: 125px;
	   			display: inline-block;
	   			text-decoration: none;
	   			height: 40px;
	   			vertical-align: middle;
	   			cursor: pointer;
	   			background-color: #54d3c3;
	   			color: white;
	   			font-size: 18px;
	   			text-align: center;
	   		}
	   	}	
}
	
}

.b-block-desktop{
	width: 100%;
	height: auto;
	background: linear-gradient(to bottom right, #00727c, #0cb9a8);
	font-size:0;
	margin: 0;
	padding: 118px 0 75px 170px;
	&__image{
		height: 332px;
		background: url('../../assets/images/white.png') no-repeat;
		/* background-position: center center; */
		backgroung-size:100%;
		/* padding: 118px 0 118px 170px; */
	}
	.b-textBlock{
	   width:400px;
	   margin: -300px 0 0 555px;

	   &__textIcon{
	   	width: 140px;
	   	line-height: 1.5; 
	    font-size:16px;
	   	color:#fff;
	   	text-transform: uppercase;
	   }
	   &__textIcon:before {
	   	content: url(../../assets/images/world.svg);
	   	margin:0 8px 0 -5px;
	   	display:inline-block;
	   	vertical-align: middle;
	   	float:left;
	   }
	   &__textMiddle {
	   		padding: 0 0 28px 700px;
	   		 
	   		 &--heading {
	   			font-size: 32px;
	   			padding: 0;
	   			font-weight: 300;
	   			text-transform: uppercase;
	   			color: white;
	   		}
	   
	   		&--text {
	   			font-size: 16px;
	   			padding: 0;
	   			color: white;
	   		}
	   }
	   	&__buttonBuy {
	   		padding-top:32px;
	   		width: 400px;
	   		font-size:0;
	   		margin-bottom:70px;
	     		&--icon {
	   			padding:0;
	   			width: 55px;
	   			height: 40px;
	   			background-color: #259d8e;
	   			background-image: url("../../assets/images/bas.png");
	   			background-repeat: no-repeat;
	   			background-position: center;
	   			cursor:pointer;
	   			display: inline-block;
	   			vertical-align: top;
	   		}
	   			   
	   		&--button {
	   			padding: 5px;
	   			width: 125px;
	   			display: inline-block;
	   			text-decoration: none;
	   			height: 40px;
	   			vertical-align: middle;
	   			cursor: pointer;
	   			background-color: #54d3c3;
	   			color: white;
	   			font-size: 18px;
	   			text-align: center;
	   		}
	   	}	
}
}
.b-block-about{
	width: 100%;
	height: 753px;
	&__text{
		margin: 100px 22% 50px;
		text-align:center;
		font-size:16px;
		font-family: "Arial";  
        word-wrap: break-word;
	}
	&__text h1{
		line-height: 1.8;
	}
	&__text p{
		color: rgb(159, 159, 159);
		line-height: 1.467;
	}
	.b-image{
	display: block; 
	text-align: center;
    width: 486px;
	height:423px;
	margin: auto;
	font-size:45px;
	font-family: "NewAthenaUnicode";
	color:  #fff;
	background-image: url('../../assets/images/circle.png');
	background-repeat: no-repeat;
	background-position: center center;
	
	&__line1{
		position:relative;
		top:25px;
		height:423px;
		background-image: url('../../assets/images/line1.png');
		background-repeat: no-repeat;
		background-position: center center;
	}
	&__line2{
		position:relative;
		top:-400px;
		left: 40px;
		height:423px;
		background-image: url('../../assets/images/line2.png');
		background-repeat: no-repeat;
		background-position: center center;
	
	}
	&__phone{
		position:relative;
		top:-940px;
		left: 5px;
		height:423px;
		background-image: url('../../assets/images/cirPhone.png');
		background-repeat: no-repeat;
		background-position: center center;
	}
	&__text{
		position:relative;
		top:-1075px;
		line-height: 0.4;
		
	}
	&__text h1{
		font-size:88px;
		
	}

}
}

.b-block-icon{
	width: 100%;
	height: 170px;
	background-image: url('../../assets/images/fon3.png');
	background-size:100%; 
	background-repeat: no-repeat;
	font-size: 0;
	&__iconItem{
		display: inline-block;
		width: calc(100%/6);
		height: 100%;

	}
	&__iconItem:nth-child(1){
		background: url('../../assets/images/maximize.svg') no-repeat;
		background-position: center center;
	}
	&__iconItem:nth-child(2){
		background: url('../../assets/images/vkl.svg') no-repeat;
		background-position: center center;
	}
	&__iconItem:nth-child(3){
		background: url('../../assets/images/apple.svg') no-repeat;
		background-position: center center;
	}
	&__iconItem:nth-child(4){
		background: url('../../assets/images/basket.svg') no-repeat;
		background-position: center center;
	}
	&__iconItem:nth-child(5){
		background: url('../../assets/images/lock.svg') no-repeat;
		background-position: center center;
	}
	&__iconItem:nth-child(6){
		background: url('../../assets/images/star.svg') no-repeat;
		background-position: center center;
	}

}
/* .b-block-desktop{
	width: 100%;
	height: 527px;
	background: url('../../assets/images/fon1.svg') no-repeat;
	background-size:100%;

} */
.b-block-project{
	width: 100%;
	height: 512px;
}
.b-text{
		width:60%;
		float:left;
		margin: 5% auto;
  		font-size: 70px;
  		font-family: "SegoeWP";
 		color: rgb(73, 215, 176);
  		text-align: center;
  		line-height: 0.8;
  		text-transform: uppercase;
  		display: inline-block;
}
.b-text p:nth-child(1){
		font-size: 230px;
		font-width: 1000;
	}
.b-background{
		display: inline-block;
		width:40%;
		height: 512px;
		background: url(../../assets/images/fon5.png);
		background-size:100%;
		background-repeat: no-repeat;
		background-position: center;
	    &__arrow{
		width:40%;
		height: 50%;
		background-image: url(../../assets/images/arrow.png);
		background-repeat: no-repeat;
		margin: 20% 35%;
      }
	
}


.b-footer{
	widht:100%;
	height: 99px;
	border-top: 1px solid #dedede;
	&__text{
		position:relative;
		top:30%;
  		font-size: 23px;
  		font-family: "SegoeWPN";
 		 color: #bababa;
  		line-height: 1.565;
  		text-align: center;

	}

}