+b.blockSection2
	.container
		+e.header lorem ipsum dolor sit amet
		+e.mainContent
			+e.image
			+e.list
				+e('ul').menu
					+e('li') Sed ut perspiatis unde omnis
					+e('li') Lorem ipsum color sit amet, con- sectetur adipisicing
					+e('li') Sed ut perspiatis unde omnis
					+e('li') Lorem ipsum dolor sit amet, con- sectetur adipisicing
