+b.blockSection1
		.container
			+b.mainContent
				+e.content.mCustomScrollbar
					+e.blockDisc
						+e.content
							+e('span').heading
								|lorem ipsum dolor sit amet
							+e.textBlock
								+b.text Lorem ipsum dolor sit 	amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
									+e.iconplus
							+e.videoBlock
								video(controls preload="auto").video-js.vjs-default-skin.vjs-big-play-centered#js-video
									+e('source')(src="../../assets/video/Sea.mp4" type="video/mp4")
						+e.dateBlock
							+e.textday 25
							+e.textmonth April

					+e.twitterBlock
						+e.number 22
						+e.image
						+e.plus
						
					+e.blockDisc
						+e.content
							+e('span').heading
								|lorem ipsum dolor sit amet
							+e.textBlock
								+b.text Lorem ipsum dolor sit 	amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
									+e.iconplus
							+e.videoBlock
								video(controls preload="auto").video-js.vjs-default-skin.vjs-big-play-centered#js-video
									+e('source')(src="../../assets/video/Sea.mp4" type="video/mp4")
						+e.dateBlock
							+e.textday 25
							+e.textmonth April

					+e.twitterBlock
						+e.number 22
						+e.image
						+e.plus
						
