footer
	+b.footer
		.container
			+e.logo
				+e.logoImage
					+e.image
					+e.image
				+e('a')(href='#').logoText
					| TheYalow
			+e.textLink 
				+e.text
					| Designed by css 
					+e('a')(href='#') author.com
