$color-red: red;
$color-black: #333;
$color-white: #fff;
$color-white-transp: rgba(255, 255, 255, 0.769);
$color-yellow: #f5c506;
$color-gold: #9b7d08;
$color-yellow-arrow:#c7a20b;
$color-gold-trnsp: rgba(245,197,6, 0.6);
$color-gold-trnsp2: rgba(245,197,6, 0.4);
